# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.vs/

*.sln

Project3/3610_Project3.vcxproj

Project3/3610_Project3.vcxproj.filters

Project3/3610_Project3.vcxproj.user

Project3/.idea/

Project3/x64/
